<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/css/common/dashboard-new.css">
  <!----===== Iconscout CSS ===== -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body>

  <%- include('../partials/nav-admin'); %>


  <section class="dashboard">
    <div class="top">
      <i class="uil uil-bars sidebar-toggle"></i>

      <div class="branding-box">Placement Portal</div>
      <div class="user-box">
        <i class="uil uil-user-circle user-circle"></i>
        <span>
          <%= user.username %>
        </span>
      </div>
    </div>

    <div class="dash-content">
      <div class="overview">
        <div class="title">
          <i class="uil uil-tachometer-fast-alt"></i>
          <span class="text">Dashboard</span>
        </div>

        <div class="boxes">
          <div class="box box1">
            <i class="uil uil-user"></i>
            <span class="text">Total Users</span>
            <span class="number"><%= totalUsers %></span>
          </div>
          <div class="box box2">
            <i class="uil uil-user-check"></i>
            <span class="text">Total TPOs</span>
            <span class="number"><%= totalTPOs %></span>
          </div>
          <div class="box box3">
            <i class="uil uil-users-alt"></i>
            <span class="text">Total Students</span>
            <span class="number"><%= totalStudents %></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/nav.js"></script>


</body>
</html>